<table id="players">
    <thead>
     <tr>
      <td>Rank</td>
      <td>Name </td>
      <td>State</td>
      <td>Class</td>
      <td>Year</td>
      <td>Seva Score</td>
      <td>Team</td>
      <td>Win%</td>
      <td>Height</td>
      <td>Weight</td>
      <td>PPG</td>
      <td>FG%</td>
      <td>APG</td>
      <td>BPG</td>
      <td>RPG</td>
      <td>SPG</td>
      <td>College</td>
     </tr>
    </thead>
    <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.rank %></td>
      <td ><%= player.name %></td>
      <td><%= player.state %></td>
      <td><%= player.klass %></td>
      <td><%= player.year %></td>
      <td><%= player.seva_score %></td>
      <td><%= player.team %></td>
      <td><%= player.win_percent %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.ppg %></td>
      <td><%= player.fg_percent %></td>
      <td><%= player.apg %></td>
      <td><%= player.bpg %></td>
      <td><%= player.rpg %></td>
      <td><%= player.spg %></td>
      <td><%= player.college %></td>
     </tr>
    <% end %>
  </tbody>
</table>
<div>


  <div class= "col-md-5">
    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "class", options_for_select([ " Freshman", " Sophomore", " Junior", " Senior" ], " Junior") %></br>
    <%= submit_tag "Filter by Class" , class: "btn btn-primary" %>
    <%end%>

    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "state", options_for_select(FormUtilities.us_states.map) %></br>
    <%= submit_tag "Filter by State" , class: "btn btn-primary" %>
    <%end%>

    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "score", options_for_select(0..10) %></br>
    <%= submit_tag "Filter SEVA score" , class: "btn btn-primary" %>
    <%end%>
  </div>
  <div class= "col-md-5">
    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "height", options_for_select(60..90) %></br>
    <%= submit_tag "Filter by Height (in inches)" , class: "btn btn-primary"  %>
    <%end%>

    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "ppg", options_for_select(1..50) %></br>
    <%= submit_tag "Filter PPG" , class: "btn btn-primary" %>
    <%end%>

    <%= form_tag(data_path, method: :get) do %>
    <%= select_tag "fg_percent", options_for_select(1..100) %></br>
    <%= submit_tag "Filter by FG%" , class: "btn btn-primary" %>
    <%end%>
  </div>
</div>


<script>
  $('#players').dataTable({
    "sPaginationType": "bootstrap"
  });
</script>
