<p id="notice"><%= notice %></p>

<p>
  <b>Home:</b>
  <%= @static_page.home %>
</p>

<p>
  <b>About:</b>
  <%= @static_page.about %>
</p>

<p>
  <b>Contact:</b>
  <%= @static_page.contact %>
</p>

<p>
  <b>Pricing:</b>
  <%= @static_page.pricing %>
</p>


<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>
