<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :school %>
    <%= f.input :state, collection: FormUtilities.us_states.map %>
    <%#= f.input :state, collection: Carmen::Country.named("United States").subregions.map(&:name) + ["Other/Outside US"] %>
    <%= f.input :division, collection: ['Division I', 'Division II', 'Division III', 'High School', 'Other/Outside US'] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
