<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" id="post-form">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :author %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
