
<h1 class= "page-title">This is the SEVA blog</h1>

<div>
<%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>

  <% @posts.each do |post| %>
    
    <div class= 'post' >
    <h3 class= 'post-title'><%= post.title %></br></h3></br>
    <p class= 'post-body'><%= post.body %></br></p></br></br>
    <p class= 'post-author'>Written By:</br><%= post.author %></p>
    
    </div>
    <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning btn-lg" %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-lg" %>
    
    <% end %></br></br> 
    
<%#= link_to 'New Post', new_post_path, :class => "btn btn-primary btn-lg" %>
    
</div> 
