<nav class="navbar navbar-primary navbar-fixed-top" > 
  <div>
    <ul class="nav navbar-nav">
      <li><%= link_to "SEVA SPORTS", root_path, class: "navbar-brand btn" %></li>
      <li><%= link_to t(:about), about_path, class: "btn" %></li>
      <li><%= link_to t(:contact), contact_path, class: "btn" %></li>
      <li><%= link_to t(:pricing), pricing_path, class: "btn" %></li>
      <li><%= link_to t(:data), data_path, class: "btn" %></li>
    </ul> 
  </div>
  <div>
  <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li> <p class='navbar-text'> Signed in as <%= current_user.email %></p> </li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, class: "btn" %></li> 
        <li><%= link_to "Sign In", new_user_session_path, class: "btn" %></li>
      <% end %>
    </ul>
  </div>
</nav>