<!DOCTYPE html>
<html>
<head>
  <title>Seva</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body class= "main-body" >
  <div class= "container">
  
   <%= render 'layouts/navigation' %>
   <%= render 'layouts/messages' %>
   <%= yield %>
  </div>
</body>
<%= render 'layouts/footer' %>
</html>
